/*
	Denoken - CSS Design Token Generator
	Built by Sandrico Provo https://www.sandricoprovo.dev/
*/

:root {
    /* === TYPOGRAPHY === */
    /* Config */
    --scale: 1.414;
    --shrink: 0.6;

    /* Scale */
    --font-100: 8px;
    --font-200: 11.32px;
    --font-300: 16px;
    --font-400: 22.62px;
    --font-500: 31.99px;
    --font-600: 45.23px;
    --font-700: 63.96px;
    --font-800: 90.44px;

    /* NOTE: The vw unit used within the clamps below is a placeholder, so please tweak as needed for your use case. */
    /* Clamps */
    --fs-100: var(--font-100);
    --fs-200: var(--font-200);
    --fs-300: var(--font-300); /* Base */
    --fs-400: clamp(calc(var(--font-300) * var(--scale) * var(--shrink)), 12vw, var(--font-400));
    --fs-500: clamp(calc(var(--font-400) * var(--scale) * var(--shrink)), 12vw, var(--font-500));
    --fs-600: clamp(calc(var(--font-500) * var(--scale) * var(--shrink)), 12vw, var(--font-600));
    --fs-700: clamp(calc(var(--font-600) * var(--scale) * var(--shrink)), 12vw, var(--font-700));
    --fs-800: clamp(calc(var(--font-700) * var(--scale) * var(--shrink)), 12vw, var(--font-800));
}
